<mat-toolbar>
    <a routerLink="">Friend Stuff</a>
    <button matIconButton [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @if (!isAuthenticated()) {
          <a mat-menu-item routerLink="auth/login">Login</a>
        } @else {
          <button mat-menu-item (click)="logout()" [disabled]="isLoading()">
            @if (isLoading()) {
              <mat-spinner [diameter]="20" />
            } @else {
              <span>Logout</span>
            }
          </button>
        }
      </mat-menu>
</mat-toolbar>
