<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{activityDetails()?.activity?.name}} ({{activityDetails()?.activity?.startDate}} -
                {{activityDetails()?.activity?.endDate}})</mat-card-title>
            <button matButton="filled" (click)="openParticipantDialog()">Add Participant</button>
            <mat-card-subtitle>
                <p>{{activityDetails()?.activity?.description}}</p>
                <p>Total: <span class="amount">{{totalExpense() | currency}}</span></p>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-set>
            @for (participant of activityParticpants(); track $index) {
            @if (participant === activityDetails()?.activity?.adminUsername) {
            <mat-chip class="admin-chip">{{participant}}</mat-chip>
            }@else if(loggedUsername() === activityDetails()?.activity?.adminUsername) {
            <mat-chip-row>
                {{participant}}
                <button matChipRemove (click)="removeParticipant(participant)"
                    [disabled]="isParticipantRemove() === participant">
                    @if (isParticipantRemove() === participant) {
                    <mat-spinner diameter="10"></mat-spinner>
                    }@else {
                    <mat-icon>
                        cancel
                    </mat-icon>
                    }
                </button>
            </mat-chip-row>
            }@else {
            <mat-chip>{{participant}}</mat-chip>
            }
            }
        </mat-chip-set>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header class=" expense-header">
        <mat-card-title>EXPENSES</mat-card-title>
        <button matButton="filled" (click)="openExpenseDialog()">Create</button>
    </mat-card-header>
    <mat-card-content class="expenses-container">
        @for (expense of activityDetails()?.expenses; track $index) {
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{expense.expenseName}}</mat-card-title>
                    <div>
                        @if (expense.payerUsername === loggedUsername()) {
                        <button class="btn-delete" matButton (click)="delete(expense.expensePublicId)">
                            @if(isLoading() === expense.expensePublicId) {
                            <mat-spinner diameter="20"></mat-spinner>
                            }@else {
                            Delete}
                        </button>
                        @if (activityParticpants().length>1) {
                        <button matButton
                            (click)="openExpenseParticipantDialog(expense.expensePublicId,expense.payerUsername)">Add
                            Debtor</button> }
                        }
                    </div>
                    <mat-card-subtitle>

                        <p>Payed by <mat-chip>{{expense.payerUsername}}</mat-chip></p>
                    </mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                @if(expense.expenseDescription != undefined)
                {
                <p>{{expense.expenseDescription}}</p>
                }@else {
                <p>No description</p>
                }
                <span class="amount">{{expense.amount | currency}}</span>
                <mat-chip-set>
                    @for (part of expense.participants; track $index) {
                    @if (expense.payerUsername !== part) {
                    @if (expense.payerUsername === loggedUsername()) {
                    <mat-chip-row>
                        {{part}}
                        <button matChipRemove (click)="removeExpenseParticipant(part,expense.expensePublicId)"
                            [disabled]="isExpenseParticipantRemove() === part">
                            @if (isExpenseParticipantRemove() === part) {
                            <mat-spinner diameter="10"></mat-spinner>
                            }@else {
                            <mat-icon>
                                cancel
                            </mat-icon>
                            }
                        </button>
                    </mat-chip-row>
                    } @else {

                    <mat-chip>{{part}}</mat-chip>
                    }
                    }

                    }
                </mat-chip-set>
            </mat-card-content>

        </mat-card>
        }@empty {
        <p>No Expenses</p>
        }
    </mat-card-content>
</mat-card>