<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{activityDetails()?.activity?.name}} ({{activityDetails()?.activity?.startDate}} -
                {{activityDetails()?.activity?.endDate}})</mat-card-title>
            <mat-card-subtitle>
                <p>{{activityDetails()?.activity?.description}}</p>
            </mat-card-subtitle>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header class="expense-header">
        <mat-card-title>EXPENSES</mat-card-title>
        <button matButton="tonal" (click)="openDialog()">Create</button>
    </mat-card-header>
    <mat-card-content class="expenses-container">
        @for (expense of activityDetails()?.expenses; track $index) {
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{expense.expenseName}}</mat-card-title>
                    <mat-card-subtitle>{{expense.expenseDescription}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                {{expense.amount | currency}}
            </mat-card-content>
        </mat-card>
        }@empty {
        <p>No Expenses</p>
        }
    </mat-card-content>
</mat-card>