:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 20px;

  .expenses-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }

  .expense-header {
    justify-content: space-between;
    align-items: center;
  }

  .amount {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .btn-delete {
    color: #ffb4ab;
  }

  .admin-chip {
    background-color: #1e293b;
    font-weight: bold;
  }
}
