<div class="activity-detail-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Act name</mat-card-title>
                <mat-card-subtitle>Act desc</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>EXPENSE</mat-card-title>
                <mat-card-subtitle>BTN CREATE EXPENSE</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
    </mat-card>

</div>