  <mat-card>
    <mat-card-header >
      <mat-card-title-group>
        <mat-card-title>My Activities</mat-card-title>
        <button matButton="tonal" (click)="openDialog()">Create</button>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      I MIEI EVENTI - TO DO
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header >
        <mat-card-title>Balance</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      LA MIA SITUAZIONE - TO DO
    </mat-card-content>
  </mat-card>
